.item-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.item-list li {
  margin: 20px;
  cursor: pointer;
}

.item-list img {
  max-width: 200px;
  max-height: 200px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background-color: #242b52; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  flex-direction: column;
}
@media (max-width: 768px) {
  .popup {
    width: 100%;
    height: 80%;
  }
}

.popup-content {
  /* background-color: #ffffff; */
  padding: 20px;
  border-radius: 5px;

  max-width: 70%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  /* text-align: center; */
}
@media (max-width: 768px) {
  .popup-content {
    max-width: 100%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    /* text-align: center; */
  }
}

.popup-image {
  max-width: 100%;
  max-height: 60vh;
}

.button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
@media (max-width: 395px) {
  .button {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
  }
}

.text {
  color: #242b52;
}
