.image-container:hover img {
  transform: scale(1.2);
  transition: transform 0.5s;
}
.gradient {
  background-image: linear-gradient(to right, #070261, #0e05ba, #2737e2);
}
.tag:nth-child(even):hover {
  background-color: #3498db;
  color: #fff;
}
.tag:nth-child(odd):hover {
  background-color: #060679;
  color: #fff;
}
